<html>
    <head>
        <title>Librari App</title>
    </head>
    <body>
        <h1>
            {{title}}
        </h1>
        <ul>
            {{#each numbers}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>