<html>
    <head>
        <title>Librari App</title>
    </head>
    <body>
        <h1>
            <%=title%> in EJS
        </h1>
        <ul>
            <% for(var i=0; i<numbers.length;i++){%>
                <li><%=numbers[i]%></li>
            <%}%>
        </ul>
    </body>
</html>